@font-face {
    font-family: 'MyFont';
    src: url('./font.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  body {
      color: white;
      font-family: "MyFont";
  }

.bgimg {
    background-image: url("bg.jpg");
    background-size: cover;
}

.heading {
    color: white;
    font-family: "MyFont";
}




body::after {
    content: "";
    background: url("bg.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }